.StepsForm {
  display: flex;
  justify-content: center;

  .Steps {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;

    .hr-block {
      display: flex;
      align-items: center;

      .box-rotate {
        width: 8px;
        height: 8px;
        transform: rotate(45deg);

        background-color: #ffffff;
      }

      hr {
        width: 100px;
        border-bottom: 2px solid;
      }
    }

    &.active {
      span {
        background-color: green;
        color: white;
      }

      p {
        background-color: green;
       

      }

      .hr-block {
        color: green;

        .box-rotate {
          background-color: green;
        }

        hr {
          border-top: 1px solid green;
        }
      }
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 48px;
      font-size: 24px;
      font-weight: 800;
      background-color: white;
      color: green;
      border-radius: 50% 50%;
    }

    p {
      font-size: 18px;
      font-weight: 700;
      padding: 2px;
      line-height: 24px;

    }
  }

  &__content {
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-content {
      flex-basis: 40%;

      h2 {
        color: white;
        font-size: 48px;
      }

      span {
        color: rgb(62, 173, 62);
        font-size: 48px;
      }

      h4 {
        margin-top: 20px;
        color: white;
      }

      p {
        font-size: 24px;
        font-weight: 500;
        color: white;
      }

      .left-bottom {
        width: 20px;
        border: 2px;
        display: flex;
        align-items: center;
        gap: 10px;

        i {
          color: white;
        }

        span {
          i {
            color: rgb(62, 173, 62);
          }
        }
      }
    }

    .right-content {
      display: flex;
      align-items: center;
      padding: 25px 0px;
      height: 450px;
      background-color: #072665dc;
      color: white;
      border-radius: 10px;
      margin: 20px 0 20px 0;

      form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          font-size: 18px;
        }

        h3 {
          font-size: 30px;
          font-weight: 700;
          position: relative;
          margin-bottom: 16px;


          &::before {
            content: '';
            height: 1px;
            width: 100%;
            background-color: white;
            position: absolute;
            left: 0;
            bottom: -15px;
          }

          span {
            color: green;
          }
        }

        input {
          padding: 7px 10px;
          font-size: 14px;
          outline: none;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }


        button {
          width: 260px;
          border: 2px solid green;
          background-color: transparent;
          color: green;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          padding: 8px 0;
          margin-top: 37px;
          transition: 200ms;
          cursor: pointer;

          &:hover {
            border: 2px solid white;
            color: white;
          }
        }
      }
    }
  }

  .hr-block {
    display: flex;
    align-items: center;

    .box-rotate {
      width: 10px;
      height: 10px;
      transform: rotate(45deg);

      background-color: #ffffff;
    }

    hr {
      width: 100px;
      border-bottom: 2px solid;
    }
  }
}