.RatingsBG {
  background-color: #F4F7FB;
  padding-top: 20px;
  padding-bottom: 20px;

  .Ratings {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .content {
      flex-basis: 40%;

      h4 {
        font-size: 20px;
        color: #072765;
        margin-bottom: 20px;
        line-height: 24px;
        font-weight: 700;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #072765;
      }
    }

    .rating {
      display: flex;
      gap: 20px;

      &-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
          font-size: 64px;
          line-height: 40px;
          font-weight: 700;
          color: #FFDA22;
        }

        h3 {
          font-size: 32px;
          line-height: 24px;
          font-weight: 700;
          color: #072765;
        }

      }

      input[type="radio"] {
        display: none;
      }

      .star {
        cursor: pointer;
        font-size: 30px;
        margin: 5px;
      }

    }

    .btns {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 20px;
      transition: 300ms;

      .Read-more {
        border: 1px solid #87AC5F;
        gap: 10px;
        padding: 10px 20px 12px 25px;
        color: #87AC5F;
        background-color: white;
        border-radius: 5px;
        cursor: pointer;
        // transform: scale(1.1);

      }

      .Give-us {
        gap: 9px;
        padding: 9px 26px 9px 26px;
        background-color: #87AC5F;
        color: #F4F7FB;
        border: none;
        cursor: pointer;
      }

    }
  }
}




@media screen and (max-width: 1024px) {

  .RatingsBG {
    .Ratings {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .content {
        display: none;
      }

      .btns {
        flex-direction: row;
      }
    }
  }

}

@media screen and (max-width: 768px) {

  .RatingsBG {
    .Ratings {
      gap: 10px;

      .rating {
        flex-direction: column;

        &-left {
          align-items: center;
          gap: 30px;
        }
      }

      .btns {
        flex-direction: column;
      }
    }
  }

}

@media screen and (max-width: 420px) {

  .RatingsBG {
    .Ratings {
      gap: 10px;

      .rating {
        gap: 10px;

        &-left {
          gap: 20px;
        }
      }
    }
  }

}