.HeaderBG {
  position: relative;

  .header-container {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .top-panel {
      margin-top: 14px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      z-index: 999;
      color: white;

      nav {
        display: flex;
        flex-direction: row;
        gap: 40px;
        transition: 300ms;

        &>li:hover {
          color: rgb(62, 173, 62);
        }
      }

      p {
        transition: 300ms;

        &:hover {
          color: rgba(62, 173, 62, 0.76);
        }
      }

      i {
        color: rgb(62, 173, 62);
      }
    }



    header {
      padding-top: 14px;
      z-index: 999;
      width: 100%;

      &.is-sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
        background-color: #ffffff;
        color: black;
        transition: 300ms;
      }

      img {
        width: 130px;
        height: 131px;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;

      nav {
        .menu {
          display: flex;
          gap: 25px;
          transition: 200ms;
          position: relative;

          li {
            cursor: pointer;
          }

          .submenu {
            width: 200px;
            position: absolute;
            background-color: white;
            color: green;
            opacity: 0;
            visibility: hidden;
            transition: 200ms;
            top: 30px;
            z-index: 1;

            &.opened {
              opacity: 1;
              visibility: visible;
            }

            li {
              padding: 10px 15px;
              transition: 200ms;

              &:hover {
                background-color: rgb(220, 255, 226);
                padding-left: 25px;
              }
            }
          }


        }
      }

      .search {
        position: relative;

        p {
          padding: 5px 15px;
          background-color: rgb(62, 173, 62);
          cursor: pointer;

          i {
            font-size: 20px;
          }
        }

        input {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          font-size: 18px;
          padding: 5px;
          top: 40px;
          right: 0;

          &.open {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  .burger-icon {
    display: none;
  }

  @media screen and (max-width: 991px) {
    .burger-icon {
      display: block;
    }

    .header-container {
      display: none;
    }
  }
}