.rating-summary {
  .rating-summary-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .rating-summary-star {
      font-size: 25px;
      margin-right: 10px;
      color: #ffc107;
    }

    .summary-bar {
      position: relative;
      width: 150px;
      height: 20px;
      background-color: #072765;
      border-radius: 1px;
      border-radius: 4px;

      .completed-bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #ffc107;
        border-radius: 4px;
      }
    }

    .rating-summary-count {
      margin-left: 10px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 900;
      color: #072765;
    }
  }
}