* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    body {
        height: 2000px;
        font-family: "Ubuntu";
    }
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

ol,
ul {
    list-style: none;
}